@inherits LayoutComponentBase

<div class="page min-vh-100">

 
    <main class="d-flex min-vh-100">
     
        <article class="content justify-content-center d-flex flex-column align-items-center min-vh-100 w-100">
            @Body
        </article>
    </main>

</div>
