@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="d-flex h-auto">
     
        <article class="content justify-content-center d-flex flex-column align-items-center h-100 w-100">
            @Body
        </article>
    </main>

</div>
